@import "tailwindcss";

body {
    background-image: url("./images/nextflixBackgroundImage.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}